<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.slashmobility.pdfPlugin" 
    version="0.1.0">
    <name>PdfPlugin</name>
    <description>Pdf creation Plugin</description>
    <license>Apache 2.0</license>
    <keywords>Cordova, Pdf</keywords>
    <js-module src="www/pdf.js" name="pdfPlugin">
            <clobbers target="cordova.plugins.PdfPlugin"/>
    </js-module>
    <platform name="ios">        
        <config-file target="config.xml" parent="/*">
            <feature name="PdfPlugin">
                <param name="ios-package" onload="true" value="PdfPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/PdfPlugin.h" />
        <source-file src="src/ios/PdfPlugin.m" />
        <header-file src="src/ios/NDHTMLtoPDF.h" />
        <source-file src="src/ios/NDHTMLtoPDF.m" />
    </platform>
</plugin>

